Source: pokemongbattle
Section: games
Priority: optional
Maintainer: ShootingStarDragon
Build-Depends:
  debhelper-compat (=11)
  cmake
Standards-Version: 0.1

Package: pokemongbattle 
Architecture: any
Depends:
  cmake
Description: A game
